.scoreboard-table {
  border-collapse: collapse;
  font-family: Helvetica, sans-serif;
  table-layout: fixed;
  font-size: 30px;

  .inning-info {
    background-color: white;
    min-width: 100px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    .inning-status {
      font-size: 15px;
    }
    .inning {
      padding-right: 10px;
    }
  }

  .balls-strikes-outs {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-team {
    min-width: 150px;
    font-weight: bold;
    background-color: gold;
    border: 1px solid gold;
    color: black;
  }

  .away-team {
    min-width: 150px;
    font-weight: bold;
    background-color: blue;
    border: 1px solid blue;
    color: white;
  }

  .home-team, .away-team {
    min-width: 270px;
    font-weight: bold;
  }

  .home-score, .away-score {
    width: 60px;
    font-weight: bold;
    text-align: center;
  }

  .home-score {
    background-color: #ccac00; /* Example manually computed darker shade of gold */
    border: 1px solid #ccac00;
  }

  .away-score {
    color: white;
    background-color: #0000cc; /* Example manually computed darker shade of blue */
    border: 1px solid #0000cc;
  }
}

.scoreboard-table td {
  padding: 5px;
  border: none;
}
